$lightblue: #f6fafd;
$skyblue: #e3f5ff;
$darkblue: #40627b;
$lightgrey: #dadfe2;
$darkgrey: #8b9093;

body {
  background-color: $lightblue;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.header-container {
  height: auto;
  max-width: 1110px;
  margin: 0 auto;
  background: white;
  border: {
    top: $darkblue solid 5px;
    bottom: $lightgrey solid 1px;
  }
  display: flex;

  .step-container {
    align-items: center;
    display: flex;
    padding: 20px;
    flex: 1;
    border: {
      left: $lightgrey solid 1px;
      right: $lightgrey solid 1px;
    }

    .col-left {
      width: 75%;

      .step-text {
        margin: 0;
        font-size: 0.75em;
        color: $darkgrey;
      }

      .step-detail {
        margin: 5px 0 0;
        color: $darkblue;
        font-size: 1em;
      }
    }

    .col-right {
      flex: 1;

      .step-icon {
        float: right;
        height: 25px;
        width: 25px;
        background: $lightgrey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .fas {
          color: $darkblue;
        }
      }

      .step-icon-undone {
        float: right;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: $lightgrey 2px solid;
      }
    }
  }
}

.content-container {
  max-width: 1070px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: $lightgrey solid 1px {
    radius: 5px;
  }

  .hotel-detail-container {
    display: flex;
    align-items: center;

    .hotel-name {
      font: {
        size: 1.5em;
        weight: bold;
      }
      color: $darkblue;
      margin-right: 20px;
    }

    .hotel-star {
      flex: 1;

      .fas {
        color: #f8bb3c;
        margin-right: 5px;
      }
    }
  }

  .hotel-address {
    margin: 20px 0;
    color: $darkgrey;
    font-size: 1em;

    .fas {
      margin-right: 5px;
    }
  }

  .hotel-trip {
    text-align: left;
    width: 100%;
    background: $lightblue;
    padding: 20px;
    border: $lightgrey 1px solid {
      radius: 5px;
    }

    .left {
      width: 30px;

      .fas {
        color: $darkgrey;
        font-size: 1.5em;
        margin-right: 5px;
      }
    }

    td.title {
      color: $darkgrey;
      font-size: 1em;
    }
    td.content {
      color: $darkblue;
      font: {
        size: 1em;
        weight: bold;
      }
    }
  }

  .content-subheader-text {
    margin: 30px 0;
    font: {
      size: 1em;
      weight: bold;
    }
    color: $darkblue;
  }

  .packages-header {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;

    th {
      font-size: 0.75em;
      color: $darkgrey;
    }

    .first {
      width: 435px;
    }

    .second {
      width: 200px;
    }

    .third {
      width: 200px;
    }

    .fourth {
      text-align: right;
      padding-right: 20px;
    }
  }

  .packages-content {
    border: $lightgrey 1px solid {
      top-left-radius: 5px;
      top-right-radius: 5px;
    }
    text-align: left;
    width: 100%;
    padding: 20px;

    .first {
      width: 100px;

      img {
        width: 85%;
        border-radius: 5px;
      }
    }

    .second {
      width: 310px;
    }

    .third {
      width: 200px;
    }

    .fourth {
      width: 100px;
    }

    .fifth {
      text-align: right;
    }

    .title {
      font-size: 1em;
      color: $darkblue;
    }

    .content {
      font-size: 0.75em;
      color: $darkgrey;
    }
  }

  .packages-tax {
    border: $lightgrey 1px solid;
    text-align: left;
    width: 100%;
    padding: 20px;

    .first {
      width: 100px;
    }

    .second {
      width: 310px;
    }

    .fourth {
      text-align: right;
    }

    td {
      font-size: 1em;
      color: $darkblue;
    }
  }

  .packages-total {
    text-align: left;
    width: 100%;
    background: $skyblue;
    padding: 20px;
    border: {
      bottom-left-radius: 5px;
      bottom-right-radius: 5px;
    }

    td {
      font-size: 1em;
      color: $darkblue;
    }

    .title {
      font: {
        size: 1em;
        weight: bold;
      }
      color: $darkblue;
    }

    .second {
      text-align: right;
      color: $darkblue;
      font: {
        size: 1.25em;
        weight: bold;
      }
    }
  }

  .user-info {
    text-align: left;
    width: 100%;

    th {
      font: {
        size: 0.75em;
        weight: normal;
      }
      color: $darkgrey;
    }

    td {
      font-size: 1em;
      color: $darkblue;
    }

    .first {
      width: 435px;
    }

    .second {
      width: 350px;
    }
  }

  .next-step {
    ul {
      padding: 0 20px;
      font-size: 1em;
      color: $darkblue;
    }
    li {
      margin-bottom: 5px;
    }
  }

  .check-tc {
    margin-top: 30px;

    label {
      font-size: 1em;
      color: $darkblue;

      span {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .request-button {
    margin-top: 30px;
    button {
      padding: 20px 0;
      width: 100%;
      color: white;
      background: $darkgrey;
      border: none {
        radius: 5px;
      }
      font: {
        size: 1.25em;
        weight: bold;
      }
      cursor: pointer;
    }
  }
}
